.App {
  text-align: center;
  margin-top: 50px;
}

h1{
  color: #FFFFFF;
}

body{
  background-color: #18574f;
}

.input{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 30px;
  border-radius: 5px;
  padding: 10px 10px;
  width: 220px;
  box-shadow: 2px 3px 3px;
  border: 0px solid;
}

button{
  cursor: pointer;
}

.add-btn{
  padding: 10px 20px;
  border: 0px;
  border-radius: 5px;
  box-shadow: 2px 3px 6px #000000;
  background: linear-gradient(#00bfdc, #008295);
  font-weight: 600;

  color: #eeeeee;
}

.add-btn:hover{
  background: linear-gradient(-45deg, #008295, #00bfdc);
}

.add-btn:active{
  transition: 100ms ease-in-out;
  box-shadow: none;

}

.empty>p{
  color: #FFFFFF;
}

.task>li{
  color: #FFFFFF;
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

.delete-btn{
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px 20px;
  border: 0px;
  border-radius: 5px;
  box-shadow: 2px 3px 6px #000000;

  background: linear-gradient(-45deg, #ff4141, #bb0c0c);
  color: #FFFFFF;
  font-weight: 600;

}

.delete-btn:hover{
  background: linear-gradient( #bb0c0c, #ff4141);
  
}

.delete-btn:active{
  transition: 100ms ease-in-out;
  box-shadow: none;
}

.checker{
  padding: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
